@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(30, 30, 30); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e3e3e; 
  cursor: grab;
}

body{
  font-family: "Space Grotesk", sans-serif;
  background-color: #E7E7E7;
  overflow-x: hidden;
}

.font-decorative-1 {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #d5d5d5;
  letter-spacing: 2px;
}
.font-decorative-2 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 00;
  font-style: normal;
  
}

.bg-light {
  background: #e7e7e7;
}

.mid-opacity {
  opacity: .5;
}

.low-opacity {
  opacity: .2;
}

.line {
  width: 100%;
  height: 1px;
  background: black;
}

.reset-margin {
  margin: 0!important
}

.reset-padding {
  padding: 0!important
}

.relative {
  position: relative;
}

.modal {
  position: fixed;
  z-index: 999!important;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.698);
  backdrop-filter: blur(8px);
}

.w100 {
  width: 100%;
}